$border-width: 1px;

$paper-padding: 0.1in;

$letter-height: 11in;
$letter-width: 8.5in;

body {
    background: rgb(204,204,204);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.85rem;
}

header {
    min-height: 100px;
    width: $letter-width;
    padding: $paper-padding;
    margin-bottom: 25px;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

    .selectors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        & > .available > *:hover {
            background: lightgreen;
        }
        & > .selected > *:hover {
            background: indianred;
        }

        .monster {
            border: $border-width solid black;
            background: lightblue;
            line-height: 1.5rem;
            border: 1px solid black;
            padding: 5px;
            cursor: pointer;
        }
    }
}

main {
    height: $letter-height + 15px; // Added to cover the grid gap between rows.
    width: $letter-width;
    padding: $paper-padding;
    margin-bottom: 25px;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $letter-height/2 $letter-height/2;
    grid-auto-rows: $letter-height/2;
    gap: 17px 10px;

    & > * {
        border: $border-width solid black;
        background: lightblue;
    }
}

.small {
}

.medium {
    grid-column-start: span 2;
}

.large {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.statblock {
    h3 {
        border-bottom: 1px solid;
        margin: 0;
    }

    table {
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-top: 1px black solid;
        border-bottom: 1px black solid;

        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
    }

    .header {
        padding: 0.5rem;
        margin: 0;
        border-bottom: 1px black solid;

        .name {
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1.2;
            margin: 0;
        }

        .challenge-rating {
            line-height: 1.2;
        }

        .creature-type {
            margin: 0;
        }
    }

    .main {
        padding: 0.5rem;

        .basic-stats {
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid black;
        }

        > div {
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    &.medium > .main, &.large > .main {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

.float-right {
    float: right!important;
}

/* https://stackoverflow.com/a/4407335 */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media print {
    header {
        display: none;
    }
    main {
        height: $letter-height;
        width: $letter-width;
        padding: 0;
        background: none;
        box-shadow: none;
    }
    div.statblock {
        page-break-inside: avoid-page;
        break-inside: avoid-page;
    }
}