$border-width: 1px;

$paper-padding: 0.1in;

$letter-height: 11in;
$letter-width: 8.5in;

body {
    background: rgb(204,204,204);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.85rem;
}

main {
    height: 11in;
    width: 8.5in;
    padding: 0.1in;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.flexbox {
    background: lightyellow;
    display: inline-flex;
    flex-wrap: wrap;
    margin: (-1 * $paper-padding) 0 0 (-1 * $paper-padding);
    width: $letter-width + (2 * $paper-padding);

    & > * {
        margin: $paper-padding 0 0 $paper-padding;
        border: $border-width solid black;
    }
}

div.block {
    background: lightblue;
}

.small {
    height: $letter-height / 2;
    width: (($letter-width - $paper-padding) / 2) - (2 * $border-width);
}

.medium {
    height: $letter-height / 2;
    width: $letter-width - (2 * $border-width);
}

.large {
    height: $letter-height;
    width: $letter-width;
}

@media print {
    main {
        height: $letter-height;
        width: $letter-width;
        padding: 0;
        background: none;
        box-shadow: none;
    }
}