body {
  background: #cccccc;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.85rem;
}

header {
  min-height: 100px;
  width: 8.5in;
  padding: 0.1in;
  margin-bottom: 25px;
  background: white;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

header .selectors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

header .selectors > .available > *:hover {
  background: lightgreen;
}

header .selectors > .selected > *:hover {
  background: indianred;
}

header .selectors .monster {
  border: 1px solid black;
  background: lightblue;
  line-height: 1.5rem;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.page {
  height: 11.01042in;
  width: 8.5in;
  padding: 0.1in;
  margin-bottom: 25px;
  background: white;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 5.375in 5.375in;
      grid-template-rows: 5.375in 5.375in;
  grid-auto-rows: 5.375in;
  gap: 15px 10px;
}

.page > * {
  border: 1px solid black;
  background: lightblue;
}

.medium {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.large {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.statblock {
  cursor: pointer;
}

.statblock:hover {
  background: indianred;
}

.statblock h3 {
  border-bottom: 1px solid;
  margin: 0;
}

.statblock table {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.statblock table td {
  text-align: center;
}

.statblock table th {
  text-align: center;
}

.statblock .header {
  padding: 0.5rem;
  margin: 0;
  border-bottom: 1px black solid;
}

.statblock .header .name {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.statblock .header .challenge-rating {
  line-height: 1.2;
}

.statblock .header .creature-type {
  margin: 0;
}

.statblock .main {
  padding: 0.5rem;
}

.statblock .main .basic-stats {
  margin-bottom: 0.5rem;
}

.statblock .main div {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.statblock.medium > .main, .statblock.large > .main {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.float-right {
  float: right !important;
}

.break-before {
  -webkit-column-break-before: always;
          break-before: always;
  page-break-before: always;
}

/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media print {
  header {
    display: none;
  }
  .page {
    height: 10.75in;
    width: 8.5in;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  div.statblock {
    break-inside: avoid-page;
  }
}
/*# sourceMappingURL=App.css.map */