body {
  background: #cccccc;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.85rem;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 100px;
  padding: 0.1in;
  width: 8.5in;
  background: white;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.header .selectors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.header .selectors > .available > .monster:hover {
  background: lightgreen;
}

.header .selectors > .selected > .monster:hover {
  background: indianred;
}

.header .selectors .monster {
  border: 1px solid black;
  background: lightblue;
  line-height: 1.5rem;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.header input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px;
  line-height: 1.5rem;
}

.main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.page {
  height: 11.01042in;
  width: 8.5in;
  padding: 0.1in;
  margin-bottom: 25px;
  background: white;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 5.375in 5.375in;
      grid-template-rows: 5.375in 5.375in;
  grid-auto-rows: 5.375in;
  gap: 15px 10px;
}

.page > * {
  border: 1px solid black;
  background: lightblue;
}

.medium {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.large {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.stat-block {
  cursor: pointer;
}

.stat-block:hover {
  background: indianred;
}

.stat-block h3 {
  border-bottom: 1px solid;
  margin: 0;
}

.stat-block table {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.stat-block table td {
  text-align: center;
}

.stat-block table th {
  text-align: center;
}

.stat-block .stat-header {
  padding: 0.5rem;
  margin: 0;
  border-bottom: 1px black solid;
}

.stat-block .stat-header .name {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.stat-block .stat-header .challenge-rating {
  line-height: 1.2;
}

.stat-block .stat-header .creature-type {
  margin: 0;
}

.stat-block .stat-body {
  padding: 0.5rem;
}

.stat-block .stat-body div {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.stat-block .action-header {
  padding-top: 0.25rem;
}

.stat-block .stat-break {
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid black;
}

.stat-block.medium > .stat-body, .stat-block.large > .stat-body {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.float-right {
  float: right !important;
}

.break-before {
  -webkit-column-break-before: always;
          break-before: always;
  page-break-before: always;
}

/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media print {
  .header {
    display: none;
  }
  .page {
    height: 10.75in;
    width: 8.5in;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  div.statblock {
    break-inside: avoid-page;
  }
}
/*# sourceMappingURL=App.css.map */